@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    font-family: 'Manrope', sans-serif;
  }

  html {
    scroll-behavior: smooth;
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #2d4059;
    user-select: none;
  }
  input, textarea {
    outline: none;
  }

  .titles {
    background-image: linear-gradient(180deg, #ff014f 0%, #8b002b 100%);
  }

  .dark {
    background: linear-gradient(90deg, rgba(21,23,25,1) 15%, rgba(82,21,21,1) 51%, rgba(21,23,25,1) 78%);
  }
  
  
}

@layer base {
  h1 {
    @apply text-7xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-xl;
  }
}